* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  padding: 1rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #435a64;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 400px;
}

.name {
  font-size: 1.2rem;
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
  outline: none;
  margin: 1rem 0;
  background: transparent;
}

option {
  color: white;
  background: rgba(67, 90, 100, 0.5);
  font-size: 1rem;
}

.header-text {
  font-size: 1em;
}

.code-number {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.decorate {
  font-size: 1.3em;
  color: red;
  font-weight: 700;
}
#ext {
  width: 25%;
  font-size: 1.3rem;
  padding: 0.1rem 0.5rem;
  text-align: right;

  outline: none;
  border-radius: 5px;
}

#number {
  width: 70%;
  font-size: 1.1rem;
  padding: 0.1rem 0.5rem;
  margin-left: 5%;
  outline: none;
  background: transparent;
  border-radius: 10px;
  color: white;
}

button {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  align-self: center;
  background: #128c7e;
  border-radius: 10px;
  border: none;
  outline: none;
}

button:hover {
  box-shadow: 0 0 1rem black;
}

@media (max-width: 450px) {
  .form-wrapper {
    width: 95vw;
    height: auto;
    padding: 1rem 0;
  }

  option {
    font-size: 0.7rem;
  }

  .container {
    padding: 1rem;
  }
}
